body {
  margin: 0px;
  padding: 0px;
  background-color: #e4cece;
}
div {
  margin-left: 100px;
  margin-top: 200px;
  height: 200px;
  width: 200px;
  transition: 3s;
  border-radius: 42px;
  background: linear-gradient(225deg, #f4dcdc, #cdb9b9);
  box-shadow: -27px 27px 25px #c2afaf, 27px -27px 25px #ffeded;
}
div:hover {
  cursor: pointer;
  border-radius: 42px;
  background: linear-gradient(225deg, #cdb9b9, #f4dcdc);
  box-shadow: -27px 27px 25px #c2afaf, 27px -27px 25px #ffeded;
}
